html {
  box-sizing: border-box;
  height: 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #f0f2f5;
  color: #1c1e21;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
}

.logo {
  height: 106px;
  margin-left: -28px;
}

.tagline {
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
}

.content {
  align-items: center;;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(980px + 6rem);
  padding: 0 3rem;
  text-align: center;
}

@media screen and (min-width: 901px) {
  .content {
    flex-direction: row;
    justify-content:space-between;
    padding-top: 8rem;
  }

  .branding {
    text-align: left;
    transform: translateY(-3rem);
  }
}

@media screen and (min-width: 1176px) {
  .tagline {
    font-size: 28px;
  }
}

.branding {
  width: 396px;
}

.form-container {
  width: 396px;
}

.form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  padding: 1rem;
}

input {
  border: 1px solid #dddfe2;
  border-radius: 6px;
  display: block;
  font-size: 16px;
  padding: 1rem;
  width: 100%;
}

.password-input {
  margin-top: 1rem;
}

.login-button {
  background-color: #1877f2;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 20px;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
}

.login-button:hover {
  background-color: #166fe5;
}

.forgot-password-link {
  color: #1877f2;
  display: block;
  font-size: 14px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid #dadde1;
  margin: 0.5rem 0;
}

.account-button {
  background-color: #42b72a;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  font-size: 17px;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  padding: 1rem;
  text-decoration: none;
}

.create-page {
  font-size: 14px;
  margin-top: 2rem;
}

.create-page-link {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}

footer {
  background-color: #fff;
  font-size: 12px;
  line-height: 1.5;
  padding: 1.5rem 3rem;
  position: sticky;
  top: 100vh;
}

footer a {
  color: #8a8d91;
  margin-right: 0.8rem;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.copyright {
  color: #8a8d91;
  display: block;
  font-size: 12px;
  margin-top: 1rem;
}